.main_container {
  padding: 4% 4%;
  width: 100%;
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
}

.product_preview {
  width: 50%;
}

.product_preview > img {
  width: 100%;
}

.product_data {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.product_title {
  font-size: 30px;

}

.product_description {
  font-size: 20px;
  margin: 20px;
}

.product_image {
  width: 100%;
  max-width: 80px;
  border: 2px solid teal;
  border-radius: 8px;
}